@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*TODO : change n with actual dynamic room number or name, whatever*@

<link href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

<h1> Welcome to game room number n</h1>
<span class="nav-link text-dark font-weight-bold">
    Online Users (with SignalR) : <span id="onlineUsersCount"></span>
</span>
<div id="main-wrapper" class="wrapper">
    <div class="row col-12 text-center p-2 m-2">
        <p>Your score is 'player score'.</p>
        <p>There are 'users online' users currently online</p>
    </div>
    <div class="col col-12 p-2">
        @*Tabelata tuka*@
        <div class="row col-12 position-absolute" id="loadingComponent"><h1 class="ml-auto mr-auto mt-5">Loading</h1></div>
        <div class="container">
            <div class="table-responsive">
                <table id="questionsTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>RoundNumber</th>
                            <th>Expression</th>
                            <th>YourAnswer</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        @*tuka delot za dodavanje ili slicno*@
    </div>
</div>

@*TODO : score, active players, table etc*@


@section Scripts{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    @*TODO : move ti deducated file*@
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/onlineUsersHub").build();

        connection.on("UpdateOnlineUsers", function (count) {
            document.getElementById("onlineUsersCount").innerText = count;
        });

        connection.start();
    </script>
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="~/js/gameRoom.js"></script>
}