@model MathGame.Models.Player
@{
    ViewData["Title"] = "Lobby";
    
    @if (ViewData["RoomIsFull"] != null && (bool)ViewData["RoomIsFull"])
    {
        <script>
            alert("The room is full!", @Model);
        </script>
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome to the quick math game Lobby</h1>

    <form asp-controller="Home" asp-action="JoinGame" method="post">
        <label asp-for="PlayerName">Join test room</label>
        <input type="hidden" name="RoomName" value="test room" />
        <button type="submit" class="btn btn-primary">Join game</button>
    </form>
</div>
